.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #141E61;
  height: 84vh;
}

form {
  background-color: #787A91;
  padding: 0px 60px;
  border-radius: 10px;
}

h1 {
  padding: 10px;
  padding-top: 20px;
  color: #0F044C;
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  background-color: #0F044C;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 30px;
}

.btn-cnl {
  display: block;
  width: 40px;
  height: 43px;
}

.btn {
  display: flex;
  justify-content: center;
  /* padding: 10px; */
  position: relative;
  /* top: 4%; */
  width: 46px;
  right: 47px;

}

.btn-add {
  width: 82px;
}

.btn-open {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141E61;
}

.ttl {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 600;
  background-color: #141E61;
  color: #fff;
}

#root {
  background-color: #141E61;
  height: 100vh;
}